* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto";
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
.header-dark {
    background-color: #1f2937;
    padding: 16px 0;
}
.header-content {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}
.nav-links {
    display: flex;
    gap: 24px;
}
.nav-links a {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-dark {
    background-color: #1f2937;
    padding: 4rem 0;
    color: #f9faf8;
}
.hero-content {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    justify-content: space-between;
    gap: 2rem;
}
.hero-text {
    flex: 1;
    min-width: 300px;
}
.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 300px;
}
.hero-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
}
.hero-text h1 {
    font-size: 3rem;
    font-weight: 900;
    margin: 1rem;
}
.hero-text p {
    font-size: 1.125rem;
    color: #e5e7eb;
    margin-bottom: 1.5rem;
}
.btn-primary {
    background-color: #3882f6;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}
.info-section {
    padding: 4rem 0;
    background-color: white;
}
.info-content {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.info-content h2 {
    font-size: 2.25rem;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 3rem;
}

.cards-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card p {
    color: #5d6674;
    font-size: 1rem;
}
.card-box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}
.quote-section {
    background-color: #e5e7eb;
    padding: 6rem 0;
    color: #1f2937;
}
.quote-content {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}
.quote-text {
    font-size: 2.25rem;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 2rem;
}
.quote-author {
    font-weight: 900;
    text-align: right;
    font-size: 1.2rem;
}
.cta-section {
    padding: 6rem 0;
    background-color: white;
}
.cta-container {
    background-color: #3882f6;
    color: white;
    padding: 3rem 4rem;
    border-radius: 8px;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cta-text h3 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}
.cta-text p {
    font-size: 1.1rem;
    font-weight: 300;
}
.btn-secondary {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}
.btn-secondary:hover {
    background-color: white;
    color: #3882f6;
}
.footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 2rem;
    text-align: center;
    font-size: 1.1rem;
}
